*{
    margin: 0;
    padding: 0;
}
body{
    background-color: plum;
    text-align: center;
  
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    gap: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 7vmin;
    color: blueviolet;
  
}
#reset{
  padding: 1rem;
    font-weight: bolder;
    font-size: 14px;
    background-color: burlywood;
    border-radius: 1rem;
    
}
#newgame{
    padding: 1rem;
    font-weight: bolder;
    font-size: 14px;
    background-color: burlywood;
    border-radius: 1rem;
}
#msg{
    font-size: 8vmin;
    color: blueviolet;
}
.messagecontainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}
    
